@import 'styles/root-vars.scss';

#{$prefix} {
  &--single-service-card {
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
    background-color: $background-color-secondary !important;
    flex: 1 1 10rem;
    min-width: 25rem;
    max-width: 25rem;
    margin: 0.5rem;
    height: 23rem;
    padding: 1rem;

    &:hover {
      transform: scale(1.02);
      // background-color: $urgent-root-cause-color-transparent !important;
    }
  }
}