@use 'styles/root-vars' as *;

#{$prefix} {
  &--text {
    margin: 0;

    &-primary {
        color: var(--text-primary);
      }
    
      &-secondary {
        color: var(--text-secondary);
      }
    
      &-disabled {
        color: var(--text-disabled);
      }
    
    // Text sizes using rem values
    &-size-0\.75 {
      font-size: 0.75rem;
    }

    &-size-0\.875 {
      font-size: 0.875rem;
    }

    &-size-1 {
      font-size: 1rem;
    }

    &-size-1\.125 {
      font-size: 1.125rem;
    }

    &-size-1\.25 {
      font-size: 1.25rem;
    }

    &-size-1\.5 {
      font-size: 1.5rem;
    }

    &-size-1\.875 {
      font-size: 1.875rem;
    }

    &-size-2\.25 {
      font-size: 2.25rem;
    }
  } 
}
