@use 'styles/root-vars' as *;

#{$prefix} {
  &--service-health-summary-panel {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: stretch;
    height: 100%;
    overflow: scroll;
  }

  &--entity-health-card {
    &__content {
      margin: 0.5rem 0;
      display: flex;
      align-items: center;
      gap: 0.25rem;
    }

    &__count {
      margin: 0.5rem 0;
      font-size: 1.75rem;
    }

    &__severity-critical {
      color: #fa4d56;
    }

    &__severity-major {
      color: #ff832b;
    }

    &__severity-minor,
    &__severity-warning {
      color: #f1c21b;
    }

    &__severity-normal {
      color: #42be65;
    }

    &__percentage {
      font-size: 0.9rem;
      color: #c6c6c6;
    }
  }
}
